.root{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.root__input{
    width: calc( 100% - 45px);
    padding: 10px 15px;
    border: 1px solid silver;
    border-radius: 3px;
    font-size: 16px;
}
.root__send{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    color: #696969;
    cursor: pointer;
}