.root {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 5px;
    padding: 10px 7px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
}
.root:hover{
    transform: scale(1.03);
    background:#3390ec;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}


.user{
    margin-left: 7px;
}
.userNickname {
    font-size: 16px;
    font-weight: 500;
}

.userLastMessage {
    font-size: 12px;
}
.userLastMessageTime{
    font-size: 12px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}