.root{
    min-width: 400px;
    width: 400px;
    background: #FFFFFF;
}

.menu{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.menu ul{
    width: 300px;
    height: 100%;
    background: #FFFFFF;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.menuBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}


.menuBtn div{
    width: 20px;
    height: 3px;
    background: #4ca2cd;
    border-radius: 1px;
    transition: .1s;
}


.menu li{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}
.menu li:hover{
    background: silver;
}



.nav{
    display: flex;
    align-items: center;
    padding: 5px;
}

.menuButton{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}
.menuButton div{
    display: block;
    margin: 2px auto;
    width: 25px;
    height: 4px;
    border-radius: 1px;
    background: #696969;
}


.chats{
    overflow-y: scroll;
    height: 100%;
}
.chats::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}
.chats::-webkit-scrollbar-thumb {
    background: silver;
}


.input{
    width: calc(100% - 50px);
    font-size: 16px;
    padding: 6px 12px;
    border: 1px #ededed solid;
    border-radius: 2px;
    background: #ededed;
}
.input:focus{
    background: #FFFFFF;
    border: 1px #4ca2cd solid;
}

.profile{
    position: relative;
    background: #4ca2cd;
    padding: 20px 15px;
}
.profileImg img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.profileName{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.profileEmail{
    color: #f0f0f0;
}
.profileBookmark{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}



.settingsTop{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 25px;
}
.settingsTopText{
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;
}
.settingsTopPrev{
    cursor: pointer;
}

@media screen and (max-width: 761px) {
    .root{
        width: 100vw !important;

    }
}