.root{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.avatar img{
    width: 40px;
    border-radius: 100%;
}
.userInfo{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userNickname{
    font-weight: 500;
}
.userLastSeen{
    font-size: 12px;
}